@model UserRolesViewModel
@{
    ViewData["Title"] = "Manage Roles";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <form method="post" asp-action="ManageRoles">
        <div class="card mt-3">
            <div class="card-header">
                <h2>@Model.Username</h2>
                <div>Add or Remove Roles</div>
            </div>
            <input type="hidden" asp-for="@Model.UserId" />
            <input type="hidden" asp-for="@Model.Username" />

            <div class="card-body">
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Roles[i].Name" />
                        <input type="hidden" asp-for="@Model.Roles[i].Id" />
                        <input type="checkbox" asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" for="@Model.Roles[i].Name">@Model.Roles[i].Name</label>
                    </div>
                }
                <div asp-asp-validation-summary="All"></div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Include the notification -->
<partial name="_Notification" />